<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Découvrez des restos halal <br>qui le méritent</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
        </p>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
<div class="section ourTeam">
	<div class="row">
    <% @restaurants.each do |restaurant| %>
		<div class="col-xs-6 col-sm-4 col-md-3 i">
			<div class="c text-center">
				<div class="wrap">
					<img src="/food.jpg" alt="#" width="370" height="270" class="img-responsive">
					<div class="info">
						<h3 class="name"><%= restaurant.name %></h3>
						<h4 class="position"><%= restaurant.city%></h4>
					</div>
				</div>
				<div class="more">
          <div class="row">
          <div class="col-md-12 ">
              <span class="views-number">
                  <%= restaurant.price %>
              </span>
              <div>
                  <small>Views</small>
              </div>
          </div>
          <div class="col-md-12 ">
              <span class="views-number">
                <%= restaurant.taste %>
              </span>
              <div>
                  <small>Topics</small>
              </div>
          </div>
          <div class="col-md-12 ">
              <span class="views-number">
                  <%= restaurant.decor %>
              </span>
              <div>
                  <small>Posts</small>
              </div>
          </div>
          <div class="col-md-12 ">
              <span class="views-number">
                  <%= restaurant.host %>
              </span>
              <div>
                  <small>Posts</small>
              </div>
          </div>
          </div>
				</div>
			</div>
		</div>
    <% end %>
    </div>
</div>
</div>
