<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Découvrez des restos halal <br>qui le méritent</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Des restos classés,
           testés et validés, pour ceux qui ne veulent plus faire de compromis sur ce qu'ils mangent et où ils mangent.
        </p>
    </div>
  </div>
</div>

<div class="container home">
<div class="section ourTeam">
	<div class="row">
    <% position = 1; @restaurants.each do |restaurant| %>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 i">
			<div class="c text-center">
        <div>
            <span class="position">N.<%= position %>
            <% position = position + 1 %></span>
            <span>Testé <svg xmlns="http://www.w3.org/2000/svg"  style="color: #008000" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg></span>
            <span class="name"><%= restaurant.total %> points</span>
        </div>
				<div class="wrap">
             <% if restaurant.cover_url %>
              <%= image_tag(restaurant.cover_url ,class:"img-responsive") %>
              <% else %>
              <img src="/food.jpg" alt="#"  class="img-responsive" >
             <% end %>
					<div class="info">

						<h3 class="name"><%= restaurant.name %></h3>
						<h4 class="position"><%= restaurant.city.capitalize %></h4>
					</div>
				</div>
				<div class="more">
          <div class="row">
              <div class="col-md-2 ">
                <span class="views-number"></span>
                <small>Prix:</small>
              </div>
              <div class="col-md-9 star">
                  <%  restaurant.price.times  do %>
                    <%  if restaurant.price >= 4 %>
                    <span class="material-icons" style="color: #2bde73">star_rate</span>
                    <% elsif restaurant.price == 3 %>
                    <span class="material-icons" style="color: #ffc924">star_rate</span>
                    <% elsif restaurant.price <= 2 %>
                    <span class="material-icons" style="color: red ">star_rate</span>
                    <%end%>
                  <% end %>
                </div>
            <div class="col-md-2 ">
                <span class="views-number"></span>
                <small>Qualité</small>
            </div>
              <div class="col-md-9 star">
                  <% restaurant.taste.times  do %>
                  <%  if restaurant.taste >= 4 %>
                  <span class="material-icons" style="color: #2bde73">star_rate</span>
                  <% elsif restaurant.taste == 3 %>
                  <span class="material-icons" style="color: #ffc924">star_rate</span>
                  <% elsif restaurant.taste <= 2 %>
                  <span class="material-icons" style="color: red ">star_rate</span>
                  <%end%>
                  <% end %>
               </div>
           <div class="col-md-2 ">
              <span class="views-number"></span>
                <small>Décor</small>
            </div>
            <div class="col-md-9 star">
                <% restaurant.decor.times  do %>
                    <%  if restaurant.decor >= 4 %>
                    <span class="material-icons" style="color: #2bde73">star_rate</span>
                    <% elsif restaurant.decor == 3 %>
                    <span class="material-icons" style="color: #ffc924">star_rate</span>
                    <% elsif restaurant.decor <= 2 %>
                    <span class="material-icons" style="color: red ">star_rate</span>
                    <%end%>
                <% end %>
                <%(5 - restaurant.decor).times do %>
                  <span class="material-icons" style="color: #FFF">star_rate</span>
                <%end%>
             </div>
          <div class="col-md-2 ">
              <span class="views-number"></span>
                <small>Accueil</small>
          </div>
          <div class="col-md-9 star">
                <% restaurant.host.times  do %>
                <%  if restaurant.host >= 4 %>
                <span class="material-icons" style="color: #2bde73">star_rate</span>
                <% elsif restaurant.host == 3 %>
                <span class="material-icons" style="color: #ffc924">star_rate</span>
                <% elsif restaurant.host <= 2 %>
                <span class="material-icons" style="color: red ">star_rate</span>
                <%end%>
                <% end%>
          </div>
          <div class="col-md-3 ">
              <span class="views-number"></span>
                <small>Certification</small>
          </div>
          <div class="col-md-6 ">
                  <%=  restaurant.certificate %>
          </div>
          <div class="col-md-12 voir">
              <span class="views-number">
                    <%= link_to 'Voir plus', restaurant, class:"voir_plus" %>
              </span>
          </div>
          </div>
				</div>
			</div>
		</div>
    <% end %>
    </div>
</div>
</div>
